@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
  text-align: center;
  @include modal;

  .header-title {
    display: flex;
    align-items: center;

    .icon-error-icon {
      margin-right: 10px;
      color: $color-pink;
    }
  }
}