<div class="modal-container">
	<div class="dialog-header">
        <button mat-icon-button>
            <i class="demo-icon icon-x" (click)="onCancel()">&#xe828;</i>
        </button>
        <span class="header-title">
            <i class="demo-icon icon-error-icon">&#xe80b;</i>
            <h2>{{ data.title }}</h2>
        </span>
        <span></span>
	</div>
	<div class="dialog-content">
		{{data.message}}
	</div>
	<div class="dialog-footer">
        <div mat-dialog-actions>
            <button (click)="onCancel()" mat-raised-button>ok</button>
        </div>
    </div>
</div>
