@import '../../../../styles/variables';
@import '../../../../styles/mixins';

:host {
  text-align: center;
  @include modal;
  .modal-container {
	display: grid;
	flex: 1;
	height: 160px;
	grid-template-rows: auto 1fr 50px;
	grid-auto-flow: row;
  }

  .header-title {
    display: flex;
    align-items: center;

    .icon-error-icon {
      margin-right: 10px;
      color: $color-pink;
    }
  }
}